{# Import the theme's layout. #}
{% extends "!layout.html" %}

{% block extrahead %}
{{ super() }}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19344199-2']);
  _gaq.push(['_trackPageview']);
</script>
{% endblock %}

{% block footer %}
{{ super() }}
<div class="footer">
</div>
{% endblock %}


{# Import the theme's layout. #}


{# Include our new CSS file into existing ones. #}
{% set css_files = css_files + ['_static/my-styles.css'] %}
